<div class="timeline">
  @for (item of visibleSteps(); track item.index) {
    <div
      class="timeline__item"
      [class.timeline__item--current]="item.isCurrent"
      [class.timeline__item--completed]="item.isCompleted"
      (click)="onBubbleClick(item.index)"
    >
      <div class="timeline__bubble">
        @if (item.isCompleted) {
          <span class="timeline__check">✓</span>
        }
      </div>
      <div class="timeline__info">
        <span class="timeline__label">{{ item.step.label }}</span>
        <span class="timeline__tt">{{ item.step.ttRequired }} TT</span>
      </div>
    </div>
  }
</div>
